.tooling/apdev-examplesflow54ab533a-38b2-47c8-804e-843ffdb1e578/apdev-examplesflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4a180924-8ff2-41d7-88a5-5331eb0390a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="apdev-examplesflowFlow" doc:id="03fe4c15-6512-4d9e-b1d2-bd5dac8e5f2b" >
		<http:listener doc:name="Listener" doc:id="08979685-b868-4ac5-8762-89def8ecb822" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9fb2cd51-fd59-4cd6-99f0-8518c851ae2c" />
	</flow>
</mule>
