mulesoft_review/week6/src/main/app/week6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="week6Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b10c350f-21c5-4bad-b357-59530b3a1404">
            <dw:input-payload doc:sample="example.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload.purchaseOrder.lineItems map ((itemObjects) ->
{
	itemNameString: itemObjects[0].itemName,
	data: 20.33 as :string {format: "##.000"}
}
)]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="qpname" value="500" doc:name="Property"/>
            <set-payload value="{
    &quot;error&quot;: &quot;this is a error happen&quot;
}" doc:name="Set Payload"/>
            <logger level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="week6Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/xml" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="8bace2b8-95ff-4f25-995a-0b5ae62ad236">
            <dw:input-payload doc:sample="input.xml" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
users: no-fuck: {	( payload map {
xx: yy: fuck:{
fname : $.firstname,
lname : $.lastname	
}
})}]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
