apdev-flights-ws6/src/main/app/apdev-flights-ws6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration_io" host="mu.mulesoft-training.com" port="80" basePath="/essentials/united" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="training-american-ws.cloudhub.io" port="80" basePath="/api/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange/api/v1/organizations/68ef9520-24e9-4cf2-b2f5-620025690913/assets/68ef9520-24e9-4cf2-b2f5-620025690913/training-american-flights-api/1.0.1/api/root"/>
    </http:request-config>
    <flow name="getFlightsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP"/>
        <flow-ref name="getDeltaFlightsFlow" doc:name="getDeltaFlightsFlow"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="setCodeSubflow">
        <set-variable variableName="code" value="#[message.inboundProperties.'http.query.params'.code == empty? &quot;SFO&quot;:message.inboundProperties.'http.query.params'.code]" doc:name="Set airport code variable"/>
    </sub-flow>
    <flow name="apdev-flights-ws6Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/united" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="setCodeSubflow" doc:name="setCodeSubflow"/>
        <http:request config-ref="United_HTTP_Request_Configuration_2" path="/essentials/united/flights/{destination}" method="GET" doc:name="United REST Request">
            <http:request-builder>
                <http:uri-param paramName="destination" value="#[flowVars.code]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="c46e4bf0-0ed2-4046-873f-20257e901023" doc:name="Transform Message">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload.flights map ((flight , indexOfFlight) -> {
	code: flight.code,
	price: flight.price,
	origin: flight.origin,
	destination: flight.destination,
	departureDate: flight.departureDate,
	planeType: flight.planeType,
	airlineName: flight.airlineName,
	emptySeats: flight.emptySeats
})]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="apdev-flights-ws6Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/american" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="ID" value="#[message.inboundProperties.'http.query.params'.ID == empty? 1:message.inboundProperties.'http.query.params'.ID]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/flights/{ID}" method="GET" doc:name="American REST Request">
            <http:request-builder>
                <http:uri-param paramName="ID" value="#[flowVars.ID]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="8bf17a89-d421-4054-b17c-441100ec1202" doc:name="Transform Message">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.ID,
	airline: null,
	flightCode: payload01.code,
	fromAirportCode: payload01.origin,
	toAirportCode: payload01.destination,
	departureDate: payload01.departureDate,
	emptySeats: payload01.emptySeats,
	totalSeats: payload01.plane.totalSeats,
	price: payload01.price,
	planeType: payload01.plane.type
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="getDeltaFlightsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delta" doc:name="HTTP"/>
        <flow-ref name="setCodeSubflow" doc:name="setCodeSubflow"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: flowVars.code as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Delta_Web_Service_Consumer" operation="findFlight" doc:name="Delta SOAP Request"/>
        <dw:transform-message metadata:id="1efb49a4-1d1e-4080-ad1a-c3ce14b3c8d7" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
	code: return.code,
	price: return.price,
	origin: return.origin,
	destination: return.destination,
	departureDate: return.departureDate,
	planeType: return.planeType,
	airlineName: return.airlineName,
	emptySeats: return.emptySeats
})]]></dw:set-payload>
        </dw:transform-message>
	<logger level="INFO" doc:name="Logger" />
	<choice-exception-strategy doc:name="apdev-flights-ws6Choice_Exception_Strategy">
		<catch-exception-strategy doc:name="NO Flight - DW Exception" when="#[exception.causeMatches('com.mulesoft.weave.*')]">
			<set-payload value="NO FLIGHT to #[flowVars.code + '\n' + exception]"
				doc:name="Set Payload" />
			<set-property propertyName="http.status" value="400"
				doc:name="Property" />
			<logger level="INFO" doc:name="Logger" />
		</catch-exception-strategy>
		<catch-exception-strategy doc:name="DATA Unavailiable - all other exception" >
                <set-payload value="DATA is unavailable + #['\n' + exception]" doc:name="Set Payload"/>
                <set-property propertyName="http.status" value="500" doc:name="Property"/>
                <logger level="INFO" doc:name="Logger"/>
            </catch-exception-strategy>
	</choice-exception-strategy>
    </flow>
</mule>
