mulesoft_review/src/main/app/apdev-american.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <apikit:config name="Router" raml="api.raml" consoleEnabled="true" consolePath="console" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/raml-flights" action="get" flow-ref="apdev-americanFlow1"/>
    </apikit:config>
    <global-property name="env" value="DEV" doc:name="Global Property"/>
    <context:property-placeholder location="flights-${env}.properties"/>
    <flow name="apdev-americanFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="GET" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from american]]></db:parameterized-query>
        </db:select>
        <dw:transform-message metadata:id="b9b98fe4-3fc5-47c6-8caa-fcea0266d2f5" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	planeType: payload01.planeType,
	code2: payload01.code2,
	totalSeats: payload01.totalSeats as :number,
	toAirport: payload01.toAirport,
	takeOffDate: payload01.takeOffDate as :string,
	fromAirport: payload01.fromAirport,
	price: payload01.price as :number,
	airlineName: payload01.airlineName,
	seatsAvailable: payload01.seatsAvailable as :number,
	ID: payload01.ID,
	code1: payload01.code1
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="apdev-americanFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <apikit:router config-ref="Router" doc:name="APIkit Router"/>
    </flow>
    <flow name="apdev-americanFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <set-payload value="Hello World" doc:name="Set Payload"/>
        <set-property propertyName="qpname" value="#[payload]" doc:name="Property"/>
        <logger message="#[flowVars.qpname]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
