.tooling-apps-cache/app/american-flights/american-flights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94b6bca9-2949-4f2d-bedf-851552121c49" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config_mysql" doc:name="Database Config" doc:id="c1e9082e-ca82-48f0-8e9b-022e71f88fb7" >
		<db:my-sql-connection host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="american-flightsFlow" doc:id="f8e3c110-7380-4bb9-b0dc-02efead5d662" >
		<http:listener doc:name="HTTP" doc:id="34d82e2e-11f9-4b89-bc21-8f7e63ba3862" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="a7a1d2ec-2b69-4345-91fd-b7053db40f89" config-ref="Database_Config_mysql">
			<db:sql >select * from american
where ID = 1</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9d86cfcf-53bb-4231-a6b3-17f295773c80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	airline: payload01.airlineName,
	flightCode: (payload01.code1 default "") ++ (payload01.code2 default ""),
	fromAirportCode: payload01.fromAirport,
	toAirportCode: payload01.toAirport,
	emptySeats: payload01.seatsAvailable,
	totalSeats: payload01.totalSeats,
	price: payload01.price,
	planeType: payload01.planeType
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="american-flightsFlow-id" doc:id="f27ba25a-c1cb-445e-a9d7-10ae26b57a39" >
		<http:listener doc:name="Listener" doc:id="e1649abb-7e92-410c-8f25-711561cf4956" config-ref="HTTP_Listener_config" path="/flights/{ID}"/>
		<db:select doc:name="Select" doc:id="fe0eee78-66e3-4251-a222-a8c34ba0c2b0" config-ref="Database_Config_mysql">
			<db:sql>select * from american 
where ID = :ID</db:sql>
			<db:input-parameters><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9d86cfcf-53bb-4231-a6b3-17f295773c80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	airline: payload01.airlineName,
	flightCode: (payload01.code1 default "") ++ (payload01.code2 default ""),
	fromAirportCode: payload01.fromAirport,
	toAirportCode: payload01.toAirport,
	emptySeats: payload01.seatsAvailable,
	totalSeats: payload01.totalSeats,
	price: payload01.price,
	planeType: payload01.planeType
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlow" doc:id="6efc000a-994d-438d-9eb8-9c090f7914e9" >
		<http:listener doc:name="Listener" doc:id="afb4f68e-5b71-4fde-a615-173c2e183263" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='{"message":"Flight added (but not really)"}' doc:name="Set Payload" doc:id="2bf4ca97-b96d-4ef7-a6c4-4bd026ca2dbc" />
	</flow>
</mule>